# Default ignored files
/../../../Random Ödevler/Experiment4_2024/.idea/shelf/
/../../../Random Ödevler/Experiment4_2024/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../Random Ödevler/Experiment4_2024/.idea/httpRequests/
